// #############################
//            RESET
// #############################
html { box-sizing: border-box; font-size: 16px; overflow-x: hidden; -webkit-overflow-scrolling: touch; overflow-scrolling: touch; }
*, *:before, *:after { box-sizing: inherit; }
body, h1, h2, h3, h4, h5, h6, p, ol, ul { margin: 0; padding: 0; font-weight: normal; }
ol, ul { list-style: none; }
img { max-width: 100%; height: auto; }
body  { overflow-y: visible; position: relative; height: unset; }
html, body { margin: 0;}

@import "portable/portable";
@import "global/fonts";
@import "global/classGeneration";

@import "form/form";
@import "calendar/override";
@import "transition";
@import "modal";
@import "tableList";

// *****************
// GLOBAL LINK STYLE
// *****************
a {
  @include color(text);
  text-decoration: underline;

  &.rm-underline {
    text-decoration: none;
  }

  span {
    font-weight: 700;

  }

  &:hover {
    @include color(primary4);

  }

}


// ******
// ERRORS
// ******
.errors {
  @include flex(flex-start);
  @include color(error0);
  @include fontSize(xs);
  margin: 5px;

  svg {
    margin-right: 8px;

  }

}